<section id="about">
    <div class="container">
        <h2><strong>About me</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/profil.jpg" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/ghassen-ibrahim-3982b2160/" rel="tooltip" target="_blank"  title="Suivez moi sur Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/ghassenibrahim" rel="tooltip" target="_blank" title="Suivez moi sur GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div>


            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Web Application Developer.</h3>
                <p class="font-italic">
                  Interested in new technologies and working methods. I like to propose ideas that allow
                  improve working processes.
                    <br>Passionate about development
                    <b>Back-end</b> and <b>Front-end</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Monastir,Tunisia</strong>
                            </li>

                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:ibrahimghassen08@gmail.com">
                                        ibrahimghassen08@gmail.com</a></strong>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 29 ans</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> engineering degree in software </strong>
                            </li>

                        </ul>
                    </div>
                </div>
                <p>
                  I am looking for an innovative company to best meet the needs
                  client, from his idea to the final delivery of his project, or participate in the improvement of an existing project.
                </p>
            </div>
        </div>
    </div>
</section>
